:root.theme-dark {
  --page-bg-color: var(--approximately-black);
  --accent-color: var(--red);
  --title-color: #db00ff;
  --header-text-bg-color: var(--accent-color);
  --header-text-color: var(--approximately-black);
  --question-bg-color: var(--approximately-black);
  --question-color: var(--accent-color);
  --answer-title-bg-color: var(--accent-color);
  --answer-title-color: var(--approximately-black);
  --answer-text-bg-color: var(--approximately-black);
  --answer-text-color: #f1b2ce;
  --advice-title-bg-color: var(--accent-color);
  --advice-title-color: var(--approximately-black);
  --button-color: var(--accent-color);
  --rec-color: var(--accent-color);
  --border-color-opacity: #ff007066;
  --bg-image: url("../images/cover-image-dark.png");
  --deco-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: var(--approximately-black);
    --accent-color: var(--red);
    --title-color: #db00ff;
    --header-text-bg-color: var(--accent-color);
    --header-text-color: var(--approximately-black);
    --question-bg-color: var(--approximately-black);
    --question-color: var(--accent-color);
    --answer-title-bg-color: var(--accent-color);
    --answer-title-color: var(--approximately-black);
    --answer-text-bg-color: var(--approximately-black);
    --answer-text-color: #f1b2ce;
    --advice-title-bg-color: var(--accent-color);
    --advice-title-color: var(--approximately-black);
    --button-color: var(--accent-color);
    --rec-color: var(--accent-color);
    --border-color-opacity: #ff007066;
    --bg-image: url("../images/cover-image-dark.png");
    --deco-color: var(--accent-color);
  }

  .header__rec::before {
    display: inline-block;
  }

  .header__rec::after {
    display: inline-block;
  }
}

.theme-dark .header__rec::before {
  display: inline-block;
}

.theme-dark .header__rec::after {
  display: inline-block;
}
