/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  min-block-size: 668px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-text-header);
  border-left: 1px solid var(--color-text-header);
  margin-block-start: 625px;
  margin-inline-start: 1px;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-text-header);
  border-right: 1px solid var(--color-text-header);
  margin-block-start: 1px;
  margin-inline-start: 331px;
}

.header__rec {
  display: flex;
  color: var(--color-text-header);
  position: absolute;
  justify-self: end;
  margin: 5px 12px 0 0;
}

.header__rec::after {
  content: " ";
  width: 9px;
  height: 9px;
  margin-left: 5px;
  margin-top: 4px;
  background: #ff0070;
  border-radius: 50%;
}

.header__title {
  font-weight: 700;
  line-height: 95px;
  padding-top: 14px;
  margin: 0;
  grid-column-start: 1;
  color: #db00ff;
  align-self: start;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__title__second__word {
  margin-left: 20px;
  letter-spacing: 5px;
}

.header__theme-menu {
  grid-row-start: 1;
  justify-self: end;
}

.header__theme-menu {
  margin-left: 248px;
  margin-top: 49px;
}

.header__theme-menu-list {
  display: flex;
  list-style: none;
  gap: 13px;
  align-items: center;
  margin-right: 5px;
  flex-direction: column;
}

.header__theme-menu-button {
  color: var(--color-text-header);
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-family: "IBM Plex Mono", sans-serif;
  text-transform: lowercase;
}

.header__theme-menu-button_active{
  border: 1px solid var(--color-text-header);
  padding: 1.5px 13px 1.5px 13px;
}

.title-decor{
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color:var(--bg-color);
  max-height: 117px;
  min-width: 355px;
  margin-bottom: 36px;
  margin-left: 1px;
  margin-right: 1px;
}

.content-section{
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.content-section__title{
  color: var(--accent-color);
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 700;
  max-width: 330px;
}

.text-block__title{
  background-color: var(--accent-color);
  color: var(--bg-color);
  display: flex;
  font-weight: 700;
  font-size: 18px;
  margin: 20px 1px 10px 1px;
}

.text-block__content{
  color: #F1B2CE;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  word-spacing: 12px;
}

.text-shadow{
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content{
  display: grid;
  margin-block-start: 32px;
  gap: 50px;
}

.text-block__subtitle{
  background-color: var(--accent-color);
  color: var(--bg-color);
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
}

.text-block{
  display: grid;
}

/*.text-block:nth-of-type(3){
  word-spacing: px;
  margin-top: 10px;
}*/

