/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-size: cover;
}

.header {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--decoration-gap) 0;
  grid-template-columns: 1fr;
  min-height: 668px;
  font: inherit;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
}

.header__rec {
  display: flex;
  justify-self: end;
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
  position: absolute;
  width: 10px;
  top: calc( var(--decoration-gap) - 10px) ;
  right: calc( var(--decoration-gap) + 50px);
}

.header__rec::before{
  content: "REC";
  font-weight: normal;
  display: none;
  color: var(--accent-color);
  margin-top: 10px;
  margin-right: 15px;
}

.header__rec::after {
  content: " ";
  position: absolute;
  display: none;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 42px;
  margin-top: 18px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  margin-left: var(--header-margin-left);
}

.header__text{
  background-color: var(--header-text-bg-color);
  color: var(--header-text-color);
  font-weight: bold;
  font-size: inherit;
  margin: var(--decoration-gap);
  font: inherit;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  border-left: var(--corner-thickness) solid var(--deco-color);
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
  top: var(--decoration-gap);
  right: var(--decoration-gap);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  justify-content: end;
  padding-right: 10px;

}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button_active{
  border: 1px solid var(--color-text-header);
  padding: 1.5px 13px 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

