.page {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--regular-font-size);
  line-height: 1.3;
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-size: cover;
}

.header {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--decoration-gap) 0;
  grid-template-columns: 1fr;
  min-height: 668px;
  font: inherit;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
}

.header__rec {
  display: flex;
  justify-self: end;
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 25px;
  position: absolute;
  width: 10px;
  top: calc(var(--decoration-gap) - 10px);
  right: calc(var(--decoration-gap) + 50px);
}

.header__rec::before {
  content: "REC";
  font-weight: normal;
  display: none;
  color: var(--accent-color);
  margin-top: 10px;
  margin-right: 15px;
}

.header__rec::after {
  content: " ";
  position: absolute;
  display: none;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 42px;
  margin-top: 18px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  margin-left: var(--header-margin-left);
}

.header__text {
  background-color: var(--header-text-bg-color);
  color: var(--header-text-color);
  font-weight: bold;
  font-size: 18px;
  margin: var(--decoration-gap);
  font: "IBM Plex Mono", sans-serif;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  border-left: var(--corner-thickness) solid var(--deco-color);
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
}

.decorated-zone::after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
  top: var(--decoration-gap);
  right: var(--decoration-gap);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  justify-content: end;
  padding-right: 10px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
  padding: 1.5px 13px 1.5px 13px;
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.content {
  margin-left: var(--decoration-gap);
  margin-right: var(--decoration-gap);
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.content-section__title {
  font-size: var(--regular-font-size);
  line-height: 1.3;
  width: 100%;
  color: var(--question-color);
}

.text-block__title {
  color: var(--answer-title-color);
  background-color: var(--answer-title-bg-color);
  font-size: inherit;
}

.text-block__content {
  color: var(--answer-text-color);
  font-weight: normal;
}

.text__link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid currentColor;
}

.text__link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}
.text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.text-block__subtitle {
  font-size: var(--regular-font-size);
  line-height: 1.3;
  width: 100%;
  color: var(--advice-title-color);
  background-color: var(--advice-title-bg-color);
  margin-top: 20px;
  margin-bottom: 10px;
}

.content-section__why {
  margin-top: var(--section-child-margin);
}

.content__section__causes {
  margin-top: 50px;
}

.content__section__advices {
  margin-top: 50px;
}

.text-block__title__main {
  margin-top: 20px;
  margin-bottom: 0px;
}

.gallery__section {
  margin-top: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px;
}

.text-block__title__picture {
  margin-bottom: 10px;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
}

.footer {
  height: max(100vh, var(--min-height));
  position: relative;
}

.footer__title {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 32px;
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
  }

  .header__rec {
    --rec_empty_x_pos: 35px;
  }

  .header {
    margin-block-end: 40px;
    --min-height: 1024px;
  }

  .gallery {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 20px;
  }

  .gallery__item {
    margin: 0;
  }

  .footer {
    --min-height: 1024px;
  }

  .sunset__pic {
    grid-column: 1 / 3;
  }

  .ice-cream__pic {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape__pic {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books__pic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street__pic {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .header__text {
    width: calc(50% - 20px);
    justify-self: right;
  }

  .content-section__title__why {
    margin-top: 20px;
  }

  .content-section__title__causes {
    margin-top: 30px;
    width: 30%;
  }

  .content-section__title__advices {
    margin-top: 20px;
  }

  .content-section__why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "content__section content-section__why";
    gap: 20px;
  }

  .content__section__causes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .content__section__advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 61px;
  }

  .gallery__section {
    display: grid;
    margin-top: 78px;
  }

  .text-block__title__picture {
    margin-bottom: 0;
  }

  .footer__title {
    justify-content: center;
    margin-top: 62px;
  }
}

@media (width >= 1024px) {
  .header__rec {
    --rec_empty_x_pos: 40px;
  }

  .header {
    margin-block-end: 0;
    --min-height: 768px;
  }

  .footer {
    --min-height: 768px;
    margin-top: 50px;
  }

  .header__title {
    margin-left: 0;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .content-section__why {
    margin-top: 40px;
    gap: 10px;
  }

  .text-blocks {
    flex-direction: row;
    margin-top: 0px;
  }

  .content__section__causes {
    margin-top: 60px;
  }

  .header__text {
    margin-top: 20px;
  }

  .header__theme-menu {
    height: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .title {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .content-section__title__causes {
    display: block;
    width: 30%;
    margin-top: 20px;
  }

  .text-blocks__causes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .content__section__advices {
    gap: 10px;
  }
}
